<div class="row">
<% data.cards.each do |user| %>
  <div class="col-xs-12 col-sm-6">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= user.country %>');">
      <div class="card-category"><%= user.country.capitalize %></div>
      <div class="card-description">
        <h2><%= user.name %>'s home</h2>
        <p><%= user.description %></p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/<%= user.github_nickname %>">
      <a class="card-link" href="#" ></a>
    </div>
  </div>
<% end %>
</div>
